@model IEnumerable<TermProject.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>All Events</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create Event</a>
</p>
<form id="searchForm" onsubmit="return false;" class="col-md-8 d-flex justify-content-center gap-3 my-4" >
    <select name="sort" id="sort" class="form-control flex-shrink-1">
        <option value="date_asc">Sort by Newest</option>
        <option value="date_desc">Sort by Oldest</option>
    </select>
    <input name="search" id="search" class="form-control flex-grow-1" placeholder="Search Name..." value="@ViewBag.Search" />
    <button type="submit" class="btn btn-outline-primary">Go</button>
</form>
<div class="d-flex gap-3">
    @foreach (var item in Model)
    {
        <div class="card" style="width:fit-content">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                <h5 class="card-subtitle mb-2">@Html.DisplayFor(modelItem => item.Location)</h5>
                <h6 class="card-text mb-3">@Html.DisplayFor(modelItem => item.StartDateTime) - @Html.DisplayFor(modelItem => item.EndDateTime)</h6>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary me-3">View Event</a>
                <a asp-area="" asp-controller="Events" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                <a asp-area="" asp-controller="Events" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    function handleSubmit(ev) {
        ev.preventDefault();
        const formData = new FormData(ev.target);
        const asString = new URLSearchParams(formData).toString();
        const href = "@Url.Action("Index", "Events")" + "?" + asString;
        window.location.href = href;
    }

    document.getElementById("searchForm").addEventListener("submit", handleSubmit)

</script>